body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      box-sizing: border-box;
      overflow-x: hidden;
      margin: 0%;
    }

.container {
      max-width: none; 
      padding: 30px 40px;
      border-radius: 8px;
      box-shadow: 0 2px 12px rgba(0,0,0,0.1);
      box-sizing: border-box;
    }
.header{
    background-color: #834204;
    color: white;
    height: 150px;
    width: 100%;
    justify-items: center;
    margin-bottom: 50px;
    margin-top: 0%;
    padding: 30px;
}
.accordion-container{
  justify-self: center;
  width: 600px;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out; 
  margin-bottom: 20px;
}
.accordion-header {
  cursor: pointer;
  width: 100%;
  border: none;
  align-items: start;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #c7c4c2;
}

.accordion-content.active {
  max-height: 500px; 
}
footer{
        background-color: grey;
        padding: 30px;
        width: 100%;
    }

.footerItems{
    justify-self: center;
    display: flex;
    gap: 40px;
     a{
            color: black;
            text-decoration: none;
            margin-left: 40px;
        }
        i{
            text-wrap: nowrap;
        }
}
.topnav{
    a{
        color: white;
        text-decoration: none;
    }
    
}